{
  "trailingComma": "es5",
  "tabWidth": 4,
  "singleQuote": true,
  "semi": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "parser": "typescript",
  "useTabs": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true
}
